<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FOREST.My.MySettings.forestConnectionString" connectionString="server=192.168.1.70;user id=delliott;password=juice16#cliP;persistsecurityinfo=True;database=forest"
            providerName="MySql.Data.MySqlClient" />
        <add name="FOREST.My.MySettings.forestConnectionString1" connectionString="server=Forestsrvr;user id=delliott;password=juice16#cliP;persistsecurityinfo=True;database=forest"
            providerName="MySql.Data.MySqlClient" />
        <add name="FOREST.My.MySettings.FOREST" connectionString="server=192.168.1.122;user id=delliott;password=juice16#cliP;database=forest;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
